

.tech-icon{
    box-shadow: 8px 6px  10px grey ;
    background-color: #7CA2CB;
    margin: 20px 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 12vh;
    color: white;
    transition: all 0.4s ease 0s;
    font-size: 50px;
}

.tech-icon:hover{
    box-shadow: 8px 6px  10px cyan ;
    background-color: black;
    color: white;
    transform: scale(1.2);
    transition:  all 0.4s ease 0s;
}

.resume{
    box-shadow: 8px 6px  10px gray;
    border: none;
    padding: 10px;
    min-width: 150px;
    min-height: 30px;
    border-radius: 15px;
    font-size: 3vh;
    background-color: #BCF4DE;
    color: black;
    transition:  all 0.4s ease 0s
}

.resume:hover{
    box-shadow: 8px 6px  10px lightblue;
    transform: scale(1.2);
    transition:  all 0.4s ease 0s;
    background-color: black;
    color: white;
}

